/*MAKE SURE THE NAVBAR GOES ON TOP*/
.navbar {
	z-index: 11;
}

/*CHART*/
.chart {
	margin: 0 auto;
	display:table;
}
.chart.is-fixed {
	position: fixed;
}
.chart.is-bottom {
	position: absolute;
}
.chart .line {
	stroke: #000;
}
.chart .cell {
	stroke: #ccc;
	shape-rendering: crispEdges;
}
.chart .chart-label {
	text-anchor: middle;
	font-family: "Open Sans", sans-serif;
	text-shadow: -1px -1px 1px #ffffff, -1px 0px 1px #ffffff, -1px 1px 1px #ffffff, 0px -1px 1px #ffffff, 0px 1px 1px #ffffff, 1px -1px 1px #ffffff, 1px 0px 1px #ffffff, 1px 1px 1px #ffffff;
	font-size: 2em;
}

/*SCROLL TEXT*/
.scroll-text {
	width: 50%;
  margin-left: 50%;
}
.scroll-text .step {
	position: relative;
	z-index: 10;
	text-align: center;
}
.scroll-text .step p {
	background: rgba(255, 255, 255, .9);
	padding: 20px;
	color: #ccc;
	transition: color 1s;
	-webkit-transition: color 1s;
	max-width: 500px;
  margin: auto;
  font-size: 1.5em;
  line-height: 1.7em;
}
.scroll-text .step.is-active p {
	color: #000;
}


/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.scroll-text {
		width: 100%;
		margin-left: 0%;
	}

	.scroll-text .step p {
		font-size: 1.1em;
	}	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	.chart .chart-label {
		font-size: 1em;
		font-weight: bold;
	}
}