
.navbar {
	z-index: 11;
}

.legend .legend-swatch {
	height: 1em;
	width: 1em;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	background: #000;
}
.legend .legend-text {
	display: inline-block;
	vertical-align: middle;
}

.chart.is-fixed {
	position: fixed;
}
.chart.is-bottom {
	position: absolute;
}
.chart .line {
	stroke: #000;
}
.chart .cell {
	stroke: #ccc;
	shape-rendering: crispEdges;
}
.chart .chart-label {
	text-anchor: middle;
	font-family: "Open Sans", sans-serif;
	text-shadow: -1px -1px 1px #ffffff, -1px 0px 1px #ffffff, -1px 1px 1px #ffffff, 0px -1px 1px #ffffff, 0px 1px 1px #ffffff, 1px -1px 1px #ffffff, 1px 0px 1px #ffffff, 1px 1px 1px #ffffff;
}
.step {
	position: relative;
	z-index: 10;
	text-align: center;
}
.step p {
	background: rgba(255, 255, 255, .9);
	padding: 20px;
	color: #ccc;
	transition: color 1s;
	-webkit-transition: color 1s;
}

.step.is-active p {
	color: #000;
}


/*THIS WILL BE TURNED INTO JUST MOBILE*/
/*#scroll {
  position: relative;
}
.scroll-graphic {
	position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.scroll-graphic.is-fixed {
  position: fixed;
}

.scroll-graphic.is-bottom {
  bottom: 0;
  top: auto;
}

.scroll-graphic .chart {
  position: absolute;
  top: 45%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scroll-text {
  padding: 0 1rem;
  max-width: 30rem;
}

.step {
  opacity: 0;
  padding: 1rem;
}

.step.is-active {
  opacity: 1;
}*/